{% extends 'base/tutorial_base.html' %}
{% load static %}
{% block content %}
        <h1>알림</h1>
        <div class="button_padding"><a class="btn btn-dark" href="{% url 'tutorial:tutorial_list' %}">📲게시글나가기</a></div>
        <hr>
        <div class="container-md" style="text-align: center;">
            <h3>1. 로그인 후 최근 알림 확인</h3>
            <h5>(노랑색 : 최신 알림 있음)<br>(투명 : 최신 알림 없음)</h5>
            <img width="80%" src="{% static 'tutorial/alert/alert_1.png' %}"/>
            <hr style="border-style: dashed;border-color: black;">
            <h3>2. (마이페이지)알림 페이지</h3>
            <h5>게시글을 눌러서 확인하면 확인 처리가 된다!<br>아닐 경우 NEW이다</h5>
            <img width="80%" src="{% static 'tutorial/alert/alert_2.png' %}"/>
        </div>
{% endblock %}