{% extends 'base/tutorial_base.html' %}
{% load static %}
{% block content %}
        <h1>영역 내용 수정 방법</h1>
        <div class="button_padding"><a class="btn btn-dark" href="{% url 'tutorial:tutorial_list' %}">📲게시글나가기</a></div>
        <hr>
        <div class="container-md" style="text-align: center;">
        <h3>1. 생성한 게시글로 들어간다</h3>
        <img width="80%" src="{% static 'tutorial/area_modify/area_modify_1.png' %}"/>
        <hr style="border-style: dashed;border-color: black;">
        <h3>2. 영역의 내용을 수정할 영역을 클릭한다</h3>
        <img width="80%" src="{% static 'tutorial/area_modify/area_modify_2.png' %}"/>
        <hr style="border-style: dashed;border-color: black;">
        <h3>3. 현재 위치 수정하기 클릭</h3>
        <img width="80%" src="{% static 'tutorial/area_modify/area_modify_3.png' %}"/>
        <hr style="border-style: dashed;border-color: black;">
        <h3>4. 내용 수정</h3>
        <h5>(주의 사항)<br>
            이미지를 지우거나 새로운 이미지로 변경 할 경우<br>
            아래 “사진 수정 시 영역정보 남기기＂를 체크하기 않으면<br>
            이미지 안에 있는 모든 영역의 정보는 전부 삭제 된다.<br>
            만약 영역을 남기고 삭제할 경우<br>
            체크박스를 클릭 후 수정하면 된다.<br>
            새로운 이미지가 전의 이미지와의 해상도 차이가 있으면<br>
            영역이 뭉개지는 경우가 생길 것이다<br>
            이럴 경우 이미지를 변경하기 전에<br>
            영역 위치를 작게 수정한 후 이미지를 변경하면<br>
            그나마 괜찮을 것이다</h5>
        <img width="80%" src="{% static 'tutorial/area_modify/area_modify_4.png' %}"/>
        </div>
{% endblock %}