{% extends 'base/tutorial_base.html' %}
{% load static %}
{% block content %}
        <h1>영역 수정 방법</h1>
        <div class="button_padding"><a class="btn btn-dark" href="{% url 'tutorial:tutorial_list' %}">📲게시글나가기</a></div>
        <hr>
        <div class="container-md" style="text-align: center;">
        <h3>1. 생성한 게시글로 들어간다</h3>
        <img width="80%" src="{% static 'tutorial/area_layer/area_layer_1.png' %}"/>
        <hr style="border-style: dashed;border-color: black;">
        <h3>2. 영역 수정하기 클릭 후<br>수정할 영역을 선택 한다</h3>
        <img width="80%" src="{% static 'tutorial/area_layer/area_layer_2.png' %}"/>
        <hr style="border-style: dashed;border-color: black;">
        <h3>3. 영역 수정하기를 클릭 후<br>드래그 엔 드롭으로<br>영역을 바꾼다</h3>
        <img width="80%" src="{% static 'tutorial/area_layer/area_layer_3.png' %}"/>
        <hr style="border-style: dashed;border-color: black;">
        <h3>4. 젹용을 누른다</h3>
        <img width="80%" src="{% static 'tutorial/area_layer/area_layer_4.png' %}"/>
        <hr style="border-style: dashed;border-color: black;">
        <h3>5. 영역 수정 적용</h3>
        <img width="80%" src="{% static 'tutorial/area_layer/area_layer_5.png' %}"/>
        </div>
{% endblock %}