{% extends 'base/tutorial_base.html' %}
{% load static %}
{% block content %}
        <h1>권한 추가 및 관리</h1>
        <div class="button_padding"><a class="btn btn-dark" href="{% url 'tutorial:tutorial_list' %}">📲게시글나가기</a></div>
        <hr>
        <div class="container-md" style="text-align: center;">
            <h3>1. 로그인 후 최근 알림 확인</h3>
            <img width="80%" src="{% static 'tutorial/auth/auth_1.png' %}"/>
            <hr style="border-style: dashed;border-color: black;">
            <h3>2. 내 게시글 및 권한 관리 클릭</h3>
            <img width="80%" src="{% static 'tutorial/auth/auth_2.png' %}"/>
            <hr style="border-style: dashed;border-color: black;">
            <h3>3. 닉네임에 게시글에 영역 작성 권한을 주고 싶은 사용자의 닉네임을 적고 권한추가를 클릭</h3>
            <img width="80%" src="{% static 'tutorial/auth/auth_3.png' %}"/>
            <hr style="border-style: dashed;border-color: black;">
            <h3>4. 권한이 추가되면 해당 게시글은 협동 게시글이 되며, 권한을 가진 사람들 목록이 밑에 보인다</h3>
            <img width="80%" src="{% static 'tutorial/auth/auth_4.png' %}"/>
            <hr style="border-style: dashed;border-color: black;">
            <h3>5. 영역 추가 권한을 얻은 사용자는 영역을 추가 할 수 있다</h3>
            <h5>단, 영역 위치를 수정하고 싶은 경우는 해당 영역의 작성자만이 수정할 수 있다.<br>
                또한 해당 영역의 내용도 해당 영역 생성자만이 수정 및 삭제를 할 수 있다.<br>
                (단, 게시글의 주인은 모든 권한을 가지고 있다)<br>
                (빨간색 : 다른 사람이 작성한 영역 -> 공개)<br>
                (노랑색 : 다른 사람이 작성한 영역 -> 비공개)<br>
                (보라색 : 내가 작성한 영역)</h5>
            <img width="80%" src="{% static 'tutorial/auth/auth_5.png' %}"/>
            <hr style="border-style: dashed;border-color: black;">
        </div>
{% endblock %}