{% extends 'base/tutorial_base.html' %}
{% load static %}
{% block content %}
        <h1>게시글 요소들의 정보</h1>
        <div class="button_padding"><a class="btn btn-dark" href="{% url 'tutorial:tutorial_list' %}">📲게시글나가기</a></div>
        <hr>
        <div class="container-md" style="text-align: center;">
        <h3>1. 원하는 게시판 들어가기</h3>
        <img width="80%" src="{% static 'tutorial/board_info/board_info_1.png' %}"/>
        <hr style="border-style: dashed;border-color: black;">
        <h3>2. 게시판에 있는 글 클릭</h3>
        <img width="80%" src="{% static 'tutorial/board_info/board_info_2.png' %}"/>
        <hr style="border-style: dashed;border-color: black;">
        <h3>3. 글 안에 있는 정보를 확인</h3>
        <img width="80%" src="{% static 'tutorial/board_info/board_info_3.png' %}"/>
        <hr style="border-style: dashed;border-color: black;">
        <h3>4. 영역 안에 있는 정보를 확인</h3>
        <h5>영역은 또 다른 글이라고 생각하면 된다<br>
        (영역 안에는 또 다른 영역이 존재할 수 있다)</h5>
        <img width="80%" src="{% static 'tutorial/board_info/board_info_4.png' %}"/>
        </div>
{% endblock %}