{% extends 'base/tutorial_base.html' %}
{% load static %}
{% block content %}
        <h1>게시글 삭제 방법</h1>
        <div class="button_padding"><a class="btn btn-dark" href="{% url 'tutorial:tutorial_list' %}">📲게시글나가기</a></div>
        <hr>
        <div class="container-md" style="text-align: center;">
        <h3>1. 생성한 게시글로 들어간다</h3>
        <img width="80%" src="{% static 'tutorial/board_delete/board_delete_1.png' %}"/>
        <hr style="border-style: dashed;border-color: black;">
        <h3>2. 현재 위치 삭제하기로 게시글을 삭제한다.</h3>
        <h5>(주의사항)<br>
        모든 영역의 정보들은 전부 삭제 된다</h5>
        <img width="80%" src="{% static 'tutorial/board_delete/board_delete_2.png' %}"/>
        </div>
{% endblock %}