{% extends 'base/tutorial_base.html' %}
{% load static %}
{% block content %}
        <h1>게시글 작성 방법</h1>
        <div class="button_padding"><a class="btn btn-dark" href="{% url 'tutorial:tutorial_list' %}">📲게시글나가기</a></div>
        <hr>
        <div class="container-md" style="text-align: center;">
        <h3>1. 로그인 하기</h3>
        <img width="80%" src="{% static 'tutorial/board_write/board_write_1.png' %}"/>
        <hr style="border-style: dashed;border-color: black;">
        <h3>2. 원하는 게시판 들어가기</h3>
        <img width="80%" src="{% static 'tutorial/board_write/board_write_2.png' %}"/>
        <hr style="border-style: dashed;border-color: black;">
        <h3>3. 글쓰기 클릭</h3>
        <img width="80%" src="{% static 'tutorial/board_write/board_write_3.png' %}"/>
        <hr style="border-style: dashed;border-color: black;">
        <h3>4. 글쓰기 위한 정보를 파악 후 글쓰기</h3>
        <img width="80%" src="{% static 'tutorial/board_write/board_write_4.png' %}"/>
        </div>
{% endblock %}