{% extends 'base/tutorial_base.html' %}
{% load static %}
{% block content %}
        <h1>마이페이지</h1>
        <div class="button_padding"><a class="btn btn-dark" href="{% url 'tutorial:tutorial_list' %}">📲게시글나가기</a></div>
        <hr>
        <div style="text-align: center;">
            <h3>1. 로그인 후 마이페이지 클릭</h3>
            <img width="80%" src="{% static 'tutorial/mypage/mypage_1.png' %}"/>
            <hr style="border-style: dashed;border-color: black;">
            <h3>2. 마이페이지 설명</h3>
            <img width="80%" src="{% static 'tutorial/mypage/mypage_2.png' %}"/>
        </div>
{% endblock %}