{% load information_extras %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/imagestory.ico">
    <title>이미지스토리</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script data-ad-client="ca-pub-1987584597836949" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <style>
    .svg-icon {
        width: 1.5em;
        height: 1.5em;
        transition: 1s;
    }
    
    </style>
    {% include 'notice_ajax.html' %}
</head>

<body>
    <div class="container-fluid p-0">
        <!-- 검색하기 만들기 -->
        {% include 'navbar.html' %}
        <h1 style="display:contents;"><a style="text-decoration: none;padding-left:15px;" href="{% url 'board:main' board_name %}">{{categoryname.showing_name}}</a></h1>
            <hr style="border-style: dashed;">
            
            <div class="container-lg" style="display:flex;justify-content: flex-end;">
            <form method="GET" style="text-align:right;display:inline-block;vertical-align: middle;" action="{% url 'board:main' board_name %}">
                <div class="input-group">
                    <select name="search_option" class="custom-select" id="inputGroupSelect01">
                        <option value="title_info" selected>제목+내용</option>
                        <option value="title">제목</option>
                        <option value="info">내용</option>
                        <option value="user">사용자</option>
                    </select>
                    <div class="input-group-append">
                    <input placeholder="검색하기" style="width: 130px;" type="text" class="form-control" name="search">
                    </div>
                    <div class="input-group-append">
                        <input type="submit" value="🔍">
                    </div>
                </div>
            </form>
            {% if user.is_authenticated %}
                <a class="btn btn-warning ml-2" href="{% url 'board:root_write' board_name %}">✏글쓰기</a>
            {% endif %}
            </div>
            <hr>
            {% if request.session.search %}
            <div class="container-lg mb-3" style="display:flex; align-items: center;color:grey;">
                검색 결과 : {{request.session.search}}
            </div>
            {% endif %}
            <!-- 모든 글 -->
            {% for board in all_board %}
            <div class="container-lg">
            <a style="color: black;text-decoration:none;" href="{% url 'board:detail' board_name board.id %}">
                {% if board.secure == "public"%}
                <div class="media">
                    {% if board.image %}
                        <!-- 기존에 썸네일 없을 경우 원본 사용 -->
                        {% if board.thumbnail_image %}
                            <img style="border-radius: 15px;" class="mr-3" height="130px" width="75px" src="{{board.thumbnail_image.url}}">
                        {% else %}
                            <img style="border-radius: 15px;" class="mr-3" height="130px" width="75px" src="{{board.image.url}}">
                        {% endif %}
                    {% else %}
                    <!-- 이미지 없음 -->
                    {% endif %}
                    <div class="media-body" style="overflow: hidden;white-space:nowrap;">
                        <span class="badge badge-pill badge-light">작성자 : {{board.author.nickname}}</span>     
                        {% if board.group.count %}
                            🤼협동
                        {% endif %}
                        <h5 class="mt-1">
                            <b style="white-space:normal;">{{board.title}}</b>
                        </h5>
                        작성일 : {{board.created_at|date:"m/d H:i"}}<br>
                        <div class="mt-1" style="color:rgb(145, 145, 145);overflow: hidden;text-overflow:ellipsis;">{{board.information}}</div>
                    </div>
                </div>
                <hr style="border-style: dashed;">
                {% elif board.author.user == user or user.profile in board.group.all or request.user.is_superuser %}
                <div class="media">
                    {% if board.image %}
                        <!-- 기존에 썸네일 없을 경우 원본 사용 -->
                        {% if board.thumbnail_image %}
                            <img style="border-radius: 15px;" class="mr-3" height="130px" width="75px" src="{{board.thumbnail_image.url}}">
                        {% else %}
                            <img style="border-radius: 15px;" class="mr-3" height="130px" width="75px" src="{{board.image.url}}">
                        {% endif %}
                    {% else %}
                    <!-- 이미지 없음 -->
                    {% endif %}
                    <div class="media-body" style="overflow: hidden;white-space:nowrap;">
                        <span class="badge badge-pill badge-light">작성자 : {{board.author.nickname}}</span>
                        <span class="badge badge-pill badge-dark">비공개글</span>
                        {% if board.group.count %}
                            🤼협동
                        {% endif %}
                        <h5 class="mt-1">
                            <b style="white-space:normal;">{{board.title}}</b>
                        </h5>
                        작성일 : {{board.created_at|date:"m/d H:i"}}<br>
                        <div class="mt-1" style="color:rgb(145, 145, 145);overflow: hidden;text-overflow:ellipsis;">{{board.information}}</div>
                    </div>
                </div>
                <hr style="border-style: dashed;">
                {% endif %}
            </a>
            </div>
            {% endfor %}

        <!-- 페이지 네이션 -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {%if all_board.has_previous%}
                <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">First</span>
                </a>
                </li>
                <li class="page-item">
                <a class="page-link" href="?page={{all_board.previous_page_number}}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                    <span class="sr-only">Previous</span>
                </a>
                </li>
                {%endif%}

                {% for i in page_range %}
                {% if i == all_board.number %}
                <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
                {% endfor %}

                {%if all_board.has_next%}
                <li class="page-item">
                <a class="page-link" href="?page={{all_board.next_page_number}}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                    <span class="sr-only">Next</span>
                </a>
                </li>
                <li class="page-item">
                <a class="page-link" href="?page={{all_board.paginator.num_pages}}" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Last</span>
                </a>
                </li>
                {%endif%}
            </ul>
        </nav>
    </div>

</body>

</html>
