{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이미지스토리</title>
    <link rel="icon" href="/static/imagestory.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <style>
        .svg-icon {
            width: 1.5em;
            height: 1.5em;
            transition: 1s;
        }
    </style>
</head>
<!-- notice ajax 스크립트 추가 -->
{% include "notice_ajax.html" %}
<body>

<div class="container-fluid p-0">
    {% include 'navbar.html' %}
    <div style="text-align: center;"><a class="btn btn-info" href="{% url 'board:main' board_name %}">뒤로가기</a></div>
    <div class="container">
        <form enctype="multipart/form-data" id='information_data' action='{% url "board:root_write" board_name %}' method="POST" name='information_data' onsubmit="upload_and_progress(); return false;">
            {% csrf_token %}
            <div class="m-3 text-center"><strong>📑게시글 작성</strong></div>
            <div class="m-2">{{boardform.title}}</div>
            <div class="m-2">{{boardform.information}}</div>
            <div class="m-3"><b>🖼이미지 추가</b> : <br>{{boardform.image}}</div>
            <div class="m-3 text-center">공개여부 : {{boardform.secure}}</div>
            <div class="m-4 text-center"><input class="btn btn-success" type='submit' value='글쓰기'/></div>
            <!-- 나중에 이미지 미리보여주기 저장 -->
        </form>
    </div>
    <!-- <button onclick="upload_and_progress();">이거는?</button> -->
</div>

<br>
  
<!-- 프로그래스바 Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">업로드 중</h5>
    </div>
    <div class="modal-body">
        <div class="progress">
            <div id="progress_bar" class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar"
            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
              0%
            </div>
        </div>
    </div>
    </div>
</div>
</div>

<!-- 프로그래스바 보이도록 설정 -->
<script>
    function upload_and_progress(){
        $('#staticBackdrop').modal({
            show: true,
        });
        // 폼
        const uploadForm = document.getElementById("information_data");
        // 이미지
        const inputImage = document.getElementById("id_image");
        // csrf
        const csrf = document.getElementsByName("csrfmiddlewaretoken");
        // title
        const title = document.getElementById("id_title");
        // information
        const information = document.getElementById("id_information");
        // secure
        const secure = document.getElementById("id_secure");

        const progress_bar = document.getElementById("progress_bar");

        // 새로운 폼 생성
        const fd = new FormData();
        // 그 후, 직접 안에 해당 값 넣기
        fd.append('csrfmiddlewaretoken', csrf[0].value);
        fd.append('title', title.value);
        fd.append('information', information.value);
        fd.append('secure', secure.value);

        // 프로그래스 바 보이도록 ajax 해버리기
        if (inputImage.files[0]){
            image_data = inputImage.files[0];
            fd.append('image', image_data);
        }

        $.ajax({
            type: "POST",
            url: uploadForm.action,
            enctype:"multipart/form-data",
            data: fd,
            // 보내기 전에 하는 일
            beforeSend: function() {

            },
            // 프로그래스 일
            xhr: function(){
                const xhr = new XMLHttpRequest();
                // 진행 중일 경우 xhr를 return 한다
                xhr.upload.addEventListener('progress', e => {
                    if (e.lengthComputable){
                        const percent = e.loaded / e.total * 100;
                        progress_bar.style.width = String(parseInt(percent)) + "%";
                        progress_bar.innerHTML = String(parseInt(percent)) + "%";
                        if (parseInt(percent) ===  100){
                            document.getElementById("staticBackdropLabel").innerHTML = "기다려 주세요!<br>이미지를 변환 중 입니다!<br>이미지 크기에 따라 시간이 걸립니다!";
                            progress_bar.innerHTML = "업로드중...";
                        }
                    }
                });
                return xhr
            },
            // 성공 했을 경우
            success: function(response){
                console.log(response);
                if (response["message"] == 'error'){
                    console.log(response["message"]);
                } else{
                    location.href=response["message"];
                }
            },
            // 에러 났을 경우
            error: function(error){
                console.log(error);
            },
            cache: false,
            contentType: false,
            processData: false,
        });
    }
</script>
</body>
</html>