{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이미지스토리</title>
    <link rel="icon" href="/static/imagestory.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <style>
        .svg-icon {
            width: 1.5em;
            height: 1.5em;
            transition: 1s;
        }
    </style>
</head>

<script>
var image_change = false;

window.onload = function(){
    var filesInput = document.getElementById("id_image");
    filesInput.addEventListener("change", function(event){
        image_change = true;
    });
}

//이미지 변경 되었는지 확인하고 변경되었으면 수정하는 것 확인후 실행
function check_image_change(){
    if ((image_change || document.getElementById("image-clear_id").checked) && !(document.getElementById("layer_save").checked)){
        a = confirm("이미지가 수정되었습니다.\n해당 이미지에 있는 모든 레이어 정보는 삭제됩니다!\n정말로 수정하시겠습니까?")
        if (a){
            // document.information_data.submit();
            upload_and_progress();
            return false;
        }else{
            return false;
        }
    } else {
        upload_and_progress();
        return false;
    }
}
</script>
<!-- notice ajax 스크립트 추가 -->
{% include "notice_ajax.html" %}
<body>
    <div class="container-fluid p-0">
        {% include 'navbar.html' %}
        <div class="text-center"><a class="btn btn-info" href="{% url 'board:detail' board_name get_board.id %}">뒤로가기</a></div>
        <div class="container">
            <form onsubmit="check_image_change(); return false;" enctype="multipart/form-data" style='display:block;' id='information_data' action="{% url 'board:root_modify' get_board.category get_board.id %}" method='post' name='information_data'>
                {% csrf_token %}
                <div class="m-3 text-center"><strong>♻게시글 수정</strong></div>
                <div class="m-2">{{boardform.title}}</div>
                <div class="m-2">{{boardform.information}}</div>
                <div class="m-3"><b>🖼이미지</b> : <br>{{boardform.image}}</div>
                <div class="m-3 text-center">중요도 : {{boardform.important}}</div>
                <div class="m-3 text-center">공개여부 : {{boardform.secure}}</div>
                {{boardform.cord_sx}}
                {{boardform.cord_sy}}
                {{boardform.cord_lx}}
                {{boardform.cord_ly}}
                <div class="text-center" style="border: 1px black solid; width: fit-content; margin:auto; padding:10px;">
                    <p><b>사진을 수정하거나 삭제할 경우<br>만약 현재 수정하려는 사진 안에 있는 <span style="color: red;">영역의 정보가 전부 삭제</span>됩니다!</b></p>
                    <p>
                        <span style="color: blue;font-weight: bold;">사진 수정 시 영역정보 남기기 : </span><input id="layer_save" type="checkbox" name="layer_save"/><br>
                        단, 사진의 해상도를 고려하여 사진을 수정하세요!<br>해상도가 작아지면 영역이 안 보일 수 있습니다!
                    </p>
                </div><br>
                <div class="text-center mb-5"><input class="btn btn-success" type='submit' value='수정하기'></div>
            </form>
        </div>
    </div>

<!-- 프로그래스바 Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">업로드 중</h5>
        </div>
        <div class="modal-body">
            <div class="progress">
                <div id="progress_bar" class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar"
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                  0%
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- 프로그래스바 보이도록 설정 -->
<script>
    function upload_and_progress(){
        $('#staticBackdrop').modal({
            show: true,
        });
        // 폼
        const uploadForm = document.getElementById("information_data");
        // 이미지
        const inputImage = document.getElementById("id_image");
        // csrf
        const csrf = document.getElementsByName("csrfmiddlewaretoken");
        // title
        const title = document.getElementById("id_title");
        // information
        const information = document.getElementById("id_information");
        // secure
        const secure = document.getElementById("id_secure");

        const progress_bar = document.getElementById("progress_bar");

        // 새로운 폼 생성
        const fd = new FormData();
        // 그 후, 직접 안에 해당 값 넣기
        fd.append('csrfmiddlewaretoken', csrf[0].value);
        fd.append('title', title.value);
        fd.append('information', information.value);
        fd.append('secure', secure.value);
        

        // 이미지를 선택했을 경우 및 이미지가 기존에 있을 경우
        if (inputImage.files[0] || document.getElementById("image-clear_id")){
            // layer 를 수정할 것인가를 가지고 있다
            const layer_save = document.getElementById("layer_save");
            
            image_data = inputImage.files[0];
            fd.append('image', image_data);
            fd.append('layer_save', layer_save.checked);

            // 기존에 이미지가 있을 경우
            if (document.getElementById("image-clear_id")){
                const image_clear = document.getElementById("image-clear_id")
                fd.append('image-clear', image_clear.checked);
            }
            // 좌표를 가지고 있을 경우
            if (document.getElementById("id_important")){
                const cord_sx = document.getElementById("id_cord_sx");
                const cord_sy = document.getElementById("id_cord_sy");
                const cord_lx = document.getElementById("id_cord_lx");
                const cord_ly = document.getElementById("id_cord_ly");
                const important = document.getElementById("id_important");
                fd.append('important', important.value);
                fd.append('cord_sx', cord_sx.value);
                fd.append('cord_sy', cord_sy.value);
                fd.append('cord_lx', cord_lx.value);
                fd.append('cord_ly', cord_ly.value);
            }
        }

        // 프로그래스 바 보이도록 ajax 해버리기
        $.ajax({
            type: "POST",
            url: uploadForm.action,
            enctype:"multipart/form-data",
            data: fd,
            // 보내기 전에 하는 일
            beforeSend: function() {

            },
            // 프로그래스 일
            xhr: function(){
                const xhr = new XMLHttpRequest();
                // 진행 중일 경우 xhr를 return 한다
                xhr.upload.addEventListener('progress', e => {
                    if (e.lengthComputable){
                        const percent = e.loaded / e.total * 100;
                        progress_bar.style.width = String(parseInt(percent)) + "%";
                        progress_bar.innerHTML = String(parseInt(percent)) + "%";
                        if (parseInt(percent) ===  100){
                            document.getElementById("staticBackdropLabel").innerHTML = "기다려 주세요!<br>이미지를 변환 중 입니다!<br>이미지 크기에 따라 시간이 걸립니다!";
                            progress_bar.innerHTML = "업로드중...";
                        }
                    }
                });
                return xhr
            },
            // 성공 했을 경우
            success: function(response){
                console.log(response);
                if (response["message"] == 'error'){
                    console.log(response["message"]);
                } else{
                    location.href=response["message"];
                }
            },
            // 에러 났을 경우
            error: function(error){
                console.log(error);
            },
            cache: false,
            contentType: false,
            processData: false,
        });
    }
</script>
</body>
</html>